extends ../layouts/default

mixin post(post, category)
  each cats in post.categories
    if !category || category === cats.key
      - n++
      post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
        .col-md-12

          h2.text-center= post.title
          hr
          p.lead.text-muted
          if post.image.exists
          p!= post.content.extended
          .text-center
            img(src=post._.image.fit(400,400)).img.text-center
mixin workers(post, category)
  each cats in post.categories
    if !category || category === cats.key
      post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
        .col-sm-3
          .profile.text-center
            if post.image.exists
              img(src=post._.image.fit(160,160)).img.img-circle
            h4(style='color:#1778c1')= post.title
            p!= post.content.brief
block content
  section.section-about-company
      .container
        .col-xs-12
          .row
            .col-xs-12
              if norwegian
                each post in data.posts.results
                  +post(post, 'about-company')
              else
                each post in data.posts.results
                  +post(post, 'eng-about-company')
  #map
  section.odd-section
      .container
        .col-xs-12
          .row
            .col-xs-12.employees
              if norwegian
                h2.text-center Ansatte
              else
                h2.text-center Employees
              hr
              if filters.category && !data.category
                h3.text-muted Invalid Category.
              else
                if data.posts.results.length
                  .blog
                    each post in data.posts.results
                      +workers(post, 'workers')
                  if data.category
                    h3.text-muted There are no posts in the category #{data.category.name}.
                else
                  h3.text-muted There are no posts yet.
  section.technology
      .container
        .col-xs-12
          .row
            .col-xs-12.text-center
              img(src='/images/react.png', alt='')
              img(src='/images/js.png', alt='')
              img(src='/images/html5.png', alt='')
