extends ../layouts/default

mixin arena(post, category)
  each cats in post.categories
    if !category || category === cats.key
      - n++
      post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
        if norwegian
          a.col-sm-4.text-center.animatedParent(href='/no/project/' + post.slug)
            .animated.fadeIn
              .imagewrap(style="display:inline-block; width: 100%;")
                img(src=post._.image.fit(200,200)).img
              h3= post.title
        else
          a.col-sm-4.text-center.animatedParent(href='/project/' + post.slug)
            .animated.fadeIn
              .imagewrap(style="display:inline-block; width: 100%;")
                img(src=post._.image.fit(200,200)).img
              h3= post.title
block content
  .frontPage
    section.oms-graph.skrollr-desktop(id='skrollr-body')
      .container.animatedParent
          h1.animated.fadeIn Keeping investors informed and empowered
          //- #highchart-live(style='min-width: 310px; max-width: 650px; height: 120px; margin: 0 auto')
          .container
            .row
              .col-lg-12.text-center
                if norwegian
                  button.btn.btn-oms-lg(type='button', data-toggle='modal', data-target='#myModal')
                    | Kontakt oss
                  a.btn.btn-oms-main-lg(href='/no/projects') Prosjekter
                else
                  button.btn.btn-oms-lg(type='button', data-toggle='modal', data-target='#myModal')
                    | Contact us
                  a.btn.btn-oms-main-lg(href="/projects") Projects

    div.image.Oslo.skrollr-desktop(id='skrollr-body', data-0="transform: translate3d(0px, 0px, 0px);" data-1100="transform: translate3d(0px, 400px, 0px);" style=" background-color:#036;")
      div.gradient
    section.section-services
        .container
          .col-xs-12
            .row
              .col-xs-12
                if norwegian
                  h2.text-center Løsninger
                else
                  h2.text-center Solutions
              if norwegian
                .col-sm-6.col-xs-12.text-left.animatedParent
                  a.animated.fadeInRight(href='/no/solution/post/online-portefolje')
                    div.left
                      img(src='images/fund.svg', alt='Generic placeholder image', width='40', height='40')
                    div.right
                      h3 Online porteføljerapportering
                      p La investorkunder holde seg oppdatert til enhver tid med en brukervennlig og moderne porteføljeløsning
                .col-sm-6.col-xs-12.text-left.animatedParent
                  a.animated.fadeInLeft(href='/no/solution/post/aksjehandel')
                    div.left
                      img(src='images/online.svg', alt='Generic placeholder image', width='40', height='40')
                    div.right
                      h3 Aksjehandel på nett
                      p Få terminal-følelsen med en webtrader eller skreddersy en portal for dine kunder
                .col-sm-6.col-xs-12.text-left.animatedParent
                  a.animated.fadeInRight(href='/no/solution/post/borsportal')
                    div.left
                      img(src='images/market.svg', alt='Generic placeholder image', width='40', height='40')
                    div.right
                      h3 Børsportal
                      p Gi leserne en fullstendig dekning av finansmarkedet med en børsportal

                .col-sm-6.col-xs-12.text-left.animatedParent
                  a.animated.fadeInLeft(href='/no/solution/post/aksjespill')
                    div.left
                      img(src='images/game.svg', alt='Generic placeholder image', width='40', height='40')
                    div.right
                      h3 Aksjespill
                      p Skap engasjement rundt aksjehandel med aksjespill
                .col-xs-12.text-center
                  a.more(href='/no/solution') Flere løsninger
              else
                .col-sm-6.col-xs-12.text-left.animatedParent
                  a.animated.fadeInRight(href='/solution/post/online-portfolio')
                    div.left
                      img(src='images/fund.svg', alt='Generic placeholder image', width='40', height='40')
                    div.right
                      h3 Online portfolio reporting
                      p Keep investor clients up to date at any time with a user friendly and modern online portfolio service.
                .col-sm-6.col-xs-12.text-left.animatedParent
                  a.animated.fadeInLeft(href='/solution/post/online-trading')
                    div.left
                      img(src='images/online.svg', alt='Generic placeholder image', width='40', height='40')
                    div.right
                      h3 Online trading
                      p Get that terminal feeling with a web trader or a customized portal for your customers
                .col-sm-6.col-xs-12.text-left.animatedParent
                  a.animated.fadeInRight(href='/solution/post/market-data-portal')
                    div.left
                      img(src='images/market.svg', alt='Generic placeholder image', width='40', height='40')
                    div.right
                      h3 Market Data Portal
                      p Complete coverage of the financial markets with live streaming data.
                .col-sm-6.col-xs-12.text-left.animatedParent
                  a.animated.fadeInLeft(href='/solution/post/trading-games')
                    div.left
                      img(src='images/game.svg', alt='Generic placeholder image', width='40', height='40')
                    div.right
                      h3 Stock Game
                      p Engage and educate your users with fictive money and live stock prices.

                .col-xs-12.text-center
                  a.more(href='/solution') More solutions

    section.odd-section.section-products
        .container
          .col-xs-12
            .row
              .col-xs-12
                if norwegian
                  h2.text-center Produkter
                  .row
                    .col-xs-12
                      .col-sm-6.col-xs-12.text-left.animatedParent
                        a.animated.fadeInLeft(href='/no/product/post/ir-webmoduler')
                          div.left
                            img(src='images/ir.svg', alt='Generic placeholder image', width='40', height='40')
                          div.right
                            h3 IR Webmoduler
                            p Ved å inkludere IR webmoduler på deres hjemmesider får potensielle og eksisterende investorer får full oversikt over aksjen på et sted

                      .col-sm-6.col-xs-12.text-left.animatedParent
                        a.animated.fadeInRight(href='/no/product/post/arena-1')
                          div.left
                            img(src='images/arena.svg', alt='Generic placeholder image', width='40', height='40')
                          div.right
                            h3 Arena
                            p Hold deg oppdatert på norske verdipapirer med bransjeportalen Arena
                    .col-xs-12.text-center
                      a.more(href='/no/product') Flere produkter
                else
                  h2.text-center Products
                  .row
                    .col-xs-12
                      .col-sm-6.col-xs-12.text-left.animatedParent
                        a.animated.fadeInLeft(href='/product/post/ir-web-modules')
                          div.left
                            img(src='images/ir.svg', alt='Generic placeholder image', width='40', height='40')
                          div.right
                            h3 IR Web Modules
                            p With IR Web Modules on your company page, potential and existing investors are able to obtain a complete picture of the share in one place
                      .col-sm-6.col-xs-12.text-left.animatedParent
                        a.animated.fadeInRight(href='/product/post/arena')
                          div.left
                            img(src='images/arena.svg', alt='Generic placeholder image', width='40', height='40')
                          div.right
                            h3 Arena
                            p The information portal for professionals within the Norwegian securities market, with Top Shareholders and the Corporate Actions Calendar
                    .col-xs-12.text-center
                      a.more(href='/product') More products


    section.section-latest
        .container
          .col-xs-12
            .row
              .col-xs-12
                if norwegian
                  h2.text-center Våre siste utgivelser
                else
                  h2.text-center Our latest releases
                if filters.category && !data.category
                  h3.text-muted Invalid Category.
                else
                  if data.posts.length
                    .blog
                      - var n = 0
                      each post in data.posts
                        if n < 3
                          +arena(post, 'projects')
                    if data.category
                      h3.text-muted There are no posts in the category #{data.category.name}.
                  else
                    h3.text-muted There are no posts yet.

    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            if norwegian
              h4#myModalLabel.modal-title KONTAKT OSS
            else
              h4#myModalLabel.modal-title CONTACT US
          .modal-body
            label Adresse
            p(style='margin-top: 0px') Oslo Market Solutions
              br
              | Postboks 4
              br
              | 0051 Oslo
            label(style='margin-top: 10px') Phone
            p(style='margin-top: 0px')
              a(style='display: inline;', href='tel:+4740002313') +47 40 00 23 13
            label(style='margin-top: 10px') E-mail
            p(style='margin-top: 0px')
              a(style='display: inline;', href='mailto:info@oslomarketsolutions.no') info@oslomarketsolutions.no
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal')
              if norwegian
                | Lukk
              else
                | Close

