extends ../layouts/default

mixin post(post, category)
  each cats in post.categories
    if !category || category === cats.key
      - n++
      post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
        .col-md-4
          h4: a(href='/news/post/' + post.slug)= post.title
          p
            b Posted
              if post.publishedDate
                | on #{post._.publishedDate.format('MMMM Do, YYYY')}
              if post.categories && post.categories.length
                | in
                each cat, i in post.categories
                  a(href='/news/' + cat.key)= cat.name
                  if i < post.categories.length - 1
                    | ,

              if post.author
                | by #{post.author.name.first}
          if post.image.exists
            img(src=post._.image.fit(160,160)).img.pull-right
          p!= post.content.brief
          if post.content.extended
            p.read-more: a(href='/news/post/' + post.slug) Read more...


mixin arena(post, category)
  each cats in post.categories
    if !category || category === cats.key
      - n++
      post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
        a.col-sm-4.text-center.animatedParent(href='/portfolio/' + post.slug)
          .animated.fadeIn
            .imagewrap(style="display:inline-block; width: 100%;")
              img(src=post._.image.fit(200,200)).img
            h3= post.title
block content
  .frontPage
    section.oms-graph.skrollr-desktop(id='skrollr-body')
      .container.animatedParent
          h1.animated.fadeIn Keeping investors informed and empowered
          //- #highchart-live(style='min-width: 310px; max-width: 650px; height: 120px; margin: 0 auto')
          .container
            .row
              .col-lg-12.text-center
                if norwegian
                  button.btn.btn-oms-lg(type='button', data-toggle='modal', data-target='#myModal')
                    | Kontakt oss
                  a.btn.btn-oms-main-lg(href='/portfolio') Kundeportefølje
                else
                  button.btn.btn-oms-lg(type='button', data-toggle='modal', data-target='#myModal')
                    | Contact us
                  a.btn.btn-oms-main-lg(href="/eng/portfolio") Portfolio
    div.image.Oslo.skrollr-desktop(id='skrollr-body', data-0="transform: translate3d(0px, 0px, 0px);" data-1100="transform: translate3d(0px, 400px, 0px);" style=" background-color:#036;")
    section.section-services
        .container
          .col-xs-12
            .row
              .col-xs-12
                if norwegian
                  h2.text-center Våre tjenester
                else
                  h2.text-center Our services
              if norwegian
                .col-sm-6.col-xs-12.text-left.animatedParent
                  a.animated.fadeInLeft(href='/service/post/aksjehandel')
                    div.left
                      img(src='images/online.svg', alt='Generic placeholder image', width='40', height='40')
                    div.right
                      h3 Aksjehandel
                      p Vi skreddersyr en fleksibel, rask og brukervennlig løsning for å handle verdipapirer på nett.
                .col-sm-6.col-xs-12.text-left.animatedParent
                  a.animated.fadeInRight(href='/service/post/arena')
                    div.left
                      img(src='images/arena.svg', alt='Generic placeholder image', width='40', height='40')
                    div.right
                      h3 Arena
                      p Hold deg oppdatert på norske verdipapirer med bransjeportalen Arena.
                .col-sm-6.col-xs-12.text-left.animatedParent
                  a.animated.fadeInLeft(href='/service/post/ir-webmoduler')
                    div.left
                      img(src='images/ir.svg', alt='Generic placeholder image', width='40', height='40')
                    div.right
                      h3 IR Webmoduler
                      p Gi eksisterende og potensielle investorer muligheten til å følge aksjen på hjemmesiden.
                .col-sm-6.col-xs-12.text-left.animatedParent
                  a.animated.fadeInRight(href='/service/post/borsportal')
                    div.left
                      img(src='images/market.svg', alt='Generic placeholder image', width='40', height='40')
                    div.right
                      h3 Børsportal
                      p Gi leserne en fullstendig dekning av finansmarkedet med en børsportal.
                .col-sm-6.col-xs-12.text-left.animatedParent
                  a.animated.fadeInLeft(href='/service/post/aksjespill')
                    div.left
                      img(src='images/game.svg', alt='Generic placeholder image', width='40', height='40')
                    div.right
                      h3 Aksjespill
                      p Skap engasjement rundt aksjehandel med aksjespill.
                .col-sm-6.col-xs-12.text-left.animatedParent
                  a.animated.fadeInRight(href='/service/post/online-portefolje')
                    div.left
                      img(src='images/fund.svg', alt='Generic placeholder image', width='40', height='40')
                    div.right
                      h3 Online portefølje
                      p Hold investorkunder infomrert og oppdatert, hvor som helst, når som helst.
                .col-sm-6.col-xs-12.text-left.animatedParent
                  a.animated.fadeInLeft(href='/service/post/kalkulatorer')
                    div.left
                      img(src='images/calc.svg', alt='Generic placeholder image', width='40', height='40')
                    div.right
                      h3 Finansielle kalkulatorer
                      p Synliggjør behovet for spareavtaler, bytte av boliglån eller annet med en finansiell kalkulator.
                .col-sm-6.col-xs-12.text-left.animatedParent
                  a.animated.fadeInRight(href='/service/post/finansielle-feeds')
                    div.left
                      img(src='images/feed.svg', alt='Generic placeholder image', width='40', height='40')
                    div.right
                      h3 Analysepublisering
                      p Meglerforetakenes konkurransefortrinn ligger blant annet i kvaliteten og bredden i analyseproduksjonen.
              else
                .col-sm-6.col-xs-12.text-left.animatedParent
                  a.animated.fadeInLeft(href='/eng/service/online-trading')
                    div.left
                      img(src='images/online.svg', alt='Generic placeholder image', width='40', height='40')
                    div.right
                      h3 Online trading
                      p ipusm lorem hello kitty so much about products you would'nt belive it, or would you?
                .col-sm-6.col-xs-12.text-left.animatedParent
                  a.animated.fadeInRight(href='/eng/service/arnea')
                    div.left
                      img(src='images/arena.svg', alt='Generic placeholder image', width='40', height='40')
                    div.right
                      h3 Arena
                      p ipusm lorem hello kitty so much about products you would'nt belive it, or would you?
                .col-sm-6.col-xs-12.text-left.animatedParent
                  a.animated.fadeInLeft(href='/eng/service/online-trading')
                    div.left
                      img(src='images/ir.svg', alt='Generic placeholder image', width='40', height='40')
                    div.right
                      h3 IR Web Modules
                      p ipusm lorem hello kitty so much about products you would'nt belive it, or would you?
                .col-sm-6.col-xs-12.text-left.animatedParent
                  a.animated.fadeInRight(href='/eng/service/market-data-portal')
                    div.left
                      img(src='images/market.svg', alt='Generic placeholder image', width='40', height='40')
                    div.right
                      h3 Market Data Portal
                      p ipusm lorem hello kitty so much about products you would'nt belive it, or would you?
                .col-sm-6.col-xs-12.text-left.animatedParent
                  a.animated.fadeInLeft(href='/eng/service/stock-game')
                    div.left
                      img(src='images/game.svg', alt='Generic placeholder image', width='40', height='40')
                    div.right
                      h3 Stock Game
                      p ipusm lorem hello kitty so much about products you would'nt belive it, or would you?
                .col-sm-6.col-xs-12.text-left.animatedParent
                  a.animated.fadeInRight(href='/eng/service/fund-reporting')
                    div.left
                      img(src='images/fund.svg', alt='Generic placeholder image', width='40', height='40')
                    div.right
                      h3 Fund reporting
                      p ipusm lorem hello kitty so much about products you would'nt belive it, or would you?
                .col-sm-6.col-xs-12.text-left.animatedParent
                  a.animated.fadeInLeft(href='/eng/service/calculators')
                    div.left
                      img(src='images/calc.svg', alt='Generic placeholder image', width='40', height='40')
                    div.right
                      h3 Financial calculators
                      p ipusm lorem hello kitty so much about products you would'nt belive it, or would you?
                .col-sm-6.col-xs-12.text-left.animatedParent
                  a.animated.fadeInRight(href='/eng/service/Financial-feeds')
                    div.left
                      img(src='images/feed.svg', alt='Generic placeholder image', width='40', height='40')
                    div.right
                      h3 Financial feeds
                      p ipusm lorem hello kitty so much about products you would'nt belive it, or would you?

    section.odd-section.section-latest
        .container
          .col-xs-12
            .row
              .col-xs-12
                if norwegian
                  h2.text-center Våre siste utgivelser
                else
                  h2.text-center Our latest releases
                if filters.category && !data.category
                  h3.text-muted Invalid Category.
                else
                  if data.posts.length
                    .blog
                      - var n = 0
                      each post in data.posts
                        if n < 3
                          +arena(post, 'projects')
                    if data.category
                      h3.text-muted There are no posts in the category #{data.category.name}.
                  else
                    h3.text-muted There are no posts yet.
    //- section.blog
    //-     .container
    //-       .col-xs-12
    //-         .row
    //-           .col-xs-12
    //-             if norwegian
    //-               h2.text-center Utvikler bloggen
    //-             else
    //-               h2.text-center The developer blog
    //-             if filters.category && !data.category
    //-               h3.text-muted Invalid Category.
    //-             else
    //-               if data.posts.length
    //-                 .blog
    //-                   - var n = 0
    //-                     each post in data.posts
    //-                       if n < 3
    //-                         if norwegian
    //-                           +post(post, 'blog')
    //-                         else
    //-                           +post(post, 'engBlog')
    //-                 if data.category
    //-                   h3.text-muted There are no posts in the category #{data.category.name}.
    //-               else
    //-                 h3.text-muted There are no posts yet.
    section.technology
        .container
          .col-xs-12
            .row
              .col-xs-12.text-center
                img(src='images/react.png', alt='')
                img(src='images/js.png', alt='')
                img(src='images/html5.png', alt='')

    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            h4#myModalLabel.modal-title KONTAKT OSS
          .modal-body
            label Adresse
            p(style='margin-top: 0px') Oslo Market Solutions
              br
              | Postboks 4
              br
              | 0051 Oslo
            label(style='margin-top: 10px') Phone
            p(style='margin-top: 0px')
              a(style='display: inline;', href='tel:+4740002313') +47 40 00 23 13
            label(style='margin-top: 10px') E-mail
            p(style='margin-top: 0px')
              a(style='display: inline;', href='mailto:info@oslomarketsolutions.no') info@oslomarketsolutions.no
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='button') Save changes

