extends ../layouts/default

mixin post(post, category)
  each cats in post.categories
    if !category || category === cats.key
        post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
          - n++
          if n == 1 || n == 3 || n == 5 || n == 7 || n == 9 
            .col-md-12
              .animatedParent
                h2.text-center.animated.fadeIn= post.title
              .col-md-7.animatedParent
                .animated.fadeIn(data-0="left: -100px;", data-2200="left: 0px;", style="position: relative")
                  p!= post.content.brief
              .col-md-5.animatedParent
                if post.image.exists
                  img(src=post._.image.fit(400,400), data-0="top: 0px;", data-2000="top: -100px;", style="position: relative").img.animated.fadeIn
              
          else
            .col-md-12
                .animatedParent
                  h2.text-center.animated.fadeIn= post.title
                .col-md-5.animatedParent
                  if post.image.exists
                    img(src=post._.image.fit(400,400), data-0="top: 0px;", data-2000="top: -120px;", style="position: relative").img.animated.fadeIn
                .col-md-7.animatedParent
                  .animated.fadeIn
                    p.animated.fadeIn!= post.content.brief
                      if post.content.extended
block intro
  .container.portfolio
    if norwegian
      h1 Produkter
    else 
      h1 Products

block content
  .container: .row
      if filters.category && !data.category
        h3.text-muted Invalid Category.
      else
        if data.posts.results.length

          .portfolio
            - var n = 0;
            each post in data.posts.results
              +post(post, 'product')

          if data.posts.totalPages > 1
            ul.pagination
              if data.posts.previous
                li: a(href='?page=' + data.posts.previous): span.glyphicon.glyphicon-chevron-left
              else
                li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
              each p, i in data.posts.pages
                li(class=data.posts.currentPage == p ? 'active' : null)
                  a(href='?page=' + (p == '...' ? (i ? data.posts.totalPages : 1) : p ))= p
              if data.posts.next
                li: a(href='?page=' + data.posts.next): span.glyphicon.glyphicon-chevron-right
              else
                li.disabled: a(href='?page=' + data.posts.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
        else
          if data.category
            h3.text-muted There are no posts in the category #{data.category.name}.
          else
            h3.text-muted There are no posts yet.