extends ../layouts/default

mixin post(post, category)
  each cats in post.categories
    if !category || category === cats.key
      - n++
      - var imger = post._.image.fit(400,400);
      - var newImgUrl = imger.replace("http://","//");
      post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
          .col-lg-12.animatedParent
            if n % 2 === 1
              .col-lg-5
                if post.image.exists
                  img(src=newImgUrl).img
            .col-lg-7
              if norwegian
                  .animated.fadeIn
                    h2= post.titleNorwegian
                  p.lead.text-muted
                    if post.publishedDate
                      | Prosjektet gikk live
                      &nbsp;#{post._.publishedDate.format('DD.MM.YYYY')}
                  p!= post.contentNorwegian.brief
                    a(href='/no/project/' + post.slug) Les mer.

              else

                .animated.fadeIn
                  h2= post.title
                p.lead.text-muted
                  if post.publishedDate
                    | Was launched
                    &nbsp;#{post._.publishedDate.format('DD.MM.YYYY')}
                p!= post.content.brief
                  a(href='/project/' + post.slug) Read more.

            if n % 2 === 0
              .col-lg-5
                if post.image.exists
                  img(src=newImgUrl).img

block intro
  .container.portfolio
    if norwegian
      h1 Prosjekter
    else
      h1 Projects

block content
  .container: .row
      if filters.category && !data.category
        h3.text-muted Invalid Category.
      else
        if data.posts.length
          .portfolio
            - var n = 0;
            each post in data.posts
              +post(post, 'projects')