extends ../layouts/default

mixin post(post, category)
  each cats in post.categories
    if !category || category === cats.key
      - n++

      if n < 6
        post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
          if n == 1 || n == 3 || n == 5
            .col-md-12.animatedParent

                .col-md-7
                  .animated.fadeIn
                    h2= post.title
                  p.lead.text-muted Posted
                    if post.publishedDate
                      | on #{post._.publishedDate.format('MMMM Do, YYYY')}
                    if post.categories && post.categories.length
                      | in
                      each cat, i in post.categories
                        if i < post.categories.length - 1
                          | ,
                  p!= post.content.brief
                  if norwegian
                    a(href='/portfolio/' + post.slug) Les mer.
                  else
                    a(href='/eng/portfolio/' + post.slug) Read more.
                .col-md-5
                  if post.image.exists
                    img(src=post._.image.fit(400,400)).img

          else
            .col-md-12.animatedParent

                .col-md-5.animatedParent
                  if post.image.exists
                    img(src=post._.image.fit(400,400)).img.animated.fadeIn
                .col-md-7.animatedParent
                  .animated.fadeIn
                    h2= post.title
                      .animated.fadeIn
                    p.animated.fadeIn!= post.content.brief
                      if post.content.extended
                    if norwegian
                      a(href='/portfolio/' + post.slug) Les mer.
                    else
                      a(href='/eng/portfolio/' + post.slug) Read more.
      else
        post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
          if n == 6
            .col-md-12
              .animatedParent
                if norwegian
                  h2.text-center.animated.fadeIn Eldre
                else
                  h2.text-center.animated.fadeIn Earlier projects
          .col-md-4.text-center.animatedParent
            .animated.fadeIn
              if norwegian
                h3: a(href='/portfolio/' + post.slug)= post.title
                if post.publishedDate
                  p.text-muted Prosjektet gikk live #{post._.publishedDate.format('DD.MM.YYYY')}
                if post.image.exists
                  img(src=post._.image.fit(300,300)).img
              else
                  h3: a(href='/eng/portfolio/' + post.slug)= post.title
                  if post.publishedDate
                    p.text-muted Project released on #{post._.publishedDate.format('MMMM Do, YYYY')}
                  if post.image.exists
                    img(src=post._.image.fit(300,300)).img
block intro
  .container.portfolio
    if norwegian
      h1 Løsninger
    else
      h1 Solutions

block content
  .container: .row
      if filters.category && !data.category
        h3.text-muted Invalid Category.
      else
        if data.posts.length

          .portfolio
            - var n = 0;
            each post in data.posts
              +post(post, 'projects')

          if data.posts.totalPages > 1
            ul.pagination
              if data.posts.previous
                li: a(href='?page=' + data.posts.previous): span.glyphicon.glyphicon-chevron-left
              else
                li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
              each p, i in data.posts.pages
                li(class=data.posts.currentPage == p ? 'active' : null)
                  a(href='?page=' + (p == '...' ? (i ? data.posts.totalPages : 1) : p ))= p
              if data.posts.next
                li: a(href='?page=' + data.posts.next): span.glyphicon.glyphicon-chevron-right
              else
                li.disabled: a(href='?page=' + data.posts.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
        else
          if data.category
            h3.text-muted There are no posts in the category #{data.category.name}.
          else
            h3.text-muted There are no posts yet.