extends ../layouts/default

block content
  if norwegian
    .container(style="margin-top: 100px"): .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
      article
        if !data.post
          hr
          h2 Invalid Post.
          h4: a(href='/no/projects') Tilbake til andre prosjekter.
        else
          header
            if data.post.image
              .image-wrap: img(src=data.post._.image.fit(750,450)).img-responsive
            h2(style="margin-top: 60px;")= data.post.title

            h5= data.post.title
              if data.post.publishedDate
                if norwegian
                  |  Prosjektet gikk live
                  | #{data.post._.publishedDate.format('DD.MM.YYYY')}
          .post
            if data.post.content.full
              != data.post.content.full
            h4: a(href='/no/projects') Tilbake til andre prosjekter.


  else
    .container(style="margin-top: 100px"): .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
      article
        - console.log('galleries', galleries.length)
        if !data.post
          hr
          h2 Invalid Post.
          h4: a(href='/projects') back to other projects.
        else
          header
            if data.post.image
              .image-wrap: img(src=data.post._.image.fit(750,450)).img-responsive

            h2(style="margin-top: 60px;")= data.post.title
            h5= data.post.title
              |  went live
              if data.post.publishedDate
                |  #{data.post._.publishedDate.format('DD.MM.YYYY')}
              if data.post.categories && data.post.categories.length
          .post
            if data.post.content.full
              != data.post.content.full

            h4: a(href='/projects') back to other projects.


