extends ../layouts/default

mixin post(post, category)
  each cats in post.categories
    - var imger = post._.image.fit(400,400);
    - var newImgUrl = imger.replace("http://","//");
    if !category || category === cats.key
      - n++
        post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
          if n % 2 === 1
            .col-lg-12(style="margin-top: 50px")
              if post.image.exists
                .col-lg-5.animatedParent
                  img(src=newImgUrl).img.animated.fadeIn
                .col-lg-7.animatedParent
                  h2.animated.fadeIn= post.title
                  .animated.fadeIn
                    p.animated.fadeIn!= post.content.brief
                      if post.content.extended
                    if norwegian
                      a(href='/project/' + post.slug) Les mer.
                    else
                      a(href='/project/' + post.slug) Read more.

          else
            .col-lg-12(style="margin-top: 50px")
              if post.image.exists
                .col-lg-5.col-lg-push-7.animatedParent
                  img(src=newImgUrl).img.animated.fadeIn
                .col-lg-7.col-lg-pull-5.animatedParent
                  h2.animated.fadeIn= post.title
                  .animated.fadeIn
                    p.animated.fadeIn!= post.content.brief
                      if post.content.extended
                    if norwegian
                      a(href='/project/' + post.slug) Les mer.
                    else
                      a(href='/project/' + post.slug) Read more.


block content
  if norwegian
    .container(style="margin-top: 100px"): .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
      article
        if !data.post
          hr
          h2 Invalid Post.
        else
          header
            - var serviceCategory = data.post.categories.map(function(item) {
            - if (item.key === 'projects') {
            -   return
            - } else {
            -   if (item.key.indexOf(',') > -1) {
            -     return item.key.replace(',', '')
            -   }
            -   else {
            -     return item.key
            -   }
            - }})
            if data.post.image
              .image-wrap: img(src=data.post._.image.fit(750,450)).img-responsive
            h2(style="margin-top: 60px;")= data.post.title
          .post
            if data.post.content.full
              != data.post.content.full


  else
    .container(style="margin-top: 100px"): .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
      article
        if !data.post
          hr
          h2 Invalid Post.
        else
          header
            - var serviceCategory = data.post.categories.map(function(item) {
            - if (item.key === 'projects') {
            -   return
            - } else {
            -   if (item.key.indexOf(',') > -1) {
            -     return item.key.replace(',', '')
            -   }
            -   else {
            -     return item.key
            -   }
            - }})
            if data.post.image
              .image-wrap: img(src=data.post._.image.fit(750,450)).img-responsive

            h2(style="margin-top: 60px;")= data.post.title
          .post
            if data.post.content.full
              != data.post.content.full

  .projects
    .container: .row
      if data.posts.length
        .portfolio
          - var n = 0;
          - var chosenCategory;
          - var showPost = true;
          - for (var i = 0; i < serviceCategory.length; i++) {
          -   if (serviceCategory[i] === 'product' || serviceCategory[i] === 'solution' || serviceCategory[i] === 'project') {
          -   } else {
          -     chosenCategory = serviceCategory[i];
          -   }
          -   if (serviceCategory[i] === 'product') {
          -     showPost = false;
          -   }
          - }
          - console.log('chosen', chosenCategory)
          if showPost
            each post in data.posts
              if serviceCategory[0]
                +post(post, chosenCategory)
            if !serviceCategory[0]
