extends ../layouts/default

mixin post(post, category)
  each cats in post.categories
    if !category || category === cats.key
      - n++

      if n < 8
        post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
          if n == 1 || n == 3 || n == 5 || n == 7
            .col-lg-12(style="margin-top: 50px")
              if post.image.exists
                .col-lg-5.animatedParent
                  img(src=post._.image.fit(400,400)).img.animated.fadeIn
                .col-lg-7.animatedParent
                  h2.animated.fadeIn= post.title
                  .animated.fadeIn
                    p.animated.fadeIn!= post.content.brief
                      if post.content.extended
                    if norwegian
                      a(href='/project/' + post.slug) Les mer.
                    else
                      a(href='/project/' + post.slug) Read more.

          if n == 2 || n == 4 || n == 6 || n == 8
            .col-lg-12(style="margin-top: 50px")
              if post.image.exists
                .col-lg-5.col-lg-push-7.animatedParent
                  img(src=post._.image.fit(400,400)).img.animated.fadeIn
                .col-lg-7.col-lg-pull-5.animatedParent
                  h2.animated.fadeIn= post.title
                  .animated.fadeIn
                    p.animated.fadeIn!= post.content.brief
                      if post.content.extended
                    if norwegian
                      a(href='/project/' + post.slug) Les mer.
                    else
                      a(href='/project/' + post.slug) Read more.




block content
  if norwegian
    .container(style="margin-top: 100px"): .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
      article
        if !data.post
          hr
          h2 Invalid Post.
        else
          header
            - var serviceCategory = data.post.categories.map(function(item) {
            - if (item.key === 'projects') {
            -   return
            - } else {
            -   if (item.key.indexOf(',') > -1) {
            -     return item.key.replace(',', '')
            -   }
            -   else {
            -     return item.key
            -   }
            - }})
            if data.post.image
              .image-wrap: img(src=data.post._.image.fit(750,450)).img-responsive
            h2(style="margin-top: 60px;")= data.post.title
          .post
            if data.post.content.full
              != data.post.content.full


  else
    .container(style="margin-top: 100px"): .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
      article
        if !data.post
          hr
          h2 Invalid Post.
        else
          header
            - var serviceCategory = data.post.categories.map(function(item) {
            - if (item.key === 'projects') {
            -   return
            - } else {
            -   if (item.key.indexOf(',') > -1) {
            -     return item.key.replace(',', '')
            -   }
            -   else {
            -     return item.key
            -   }
            - }})
            if data.post.image
              .image-wrap: img(src=data.post._.image.fit(750,450)).img-responsive

            h2(style="margin-top: 60px;")= data.post.title
          .post
            if data.post.content.full
              != data.post.content.full

  .projects
    .container: .row
      if filters.category && !data.category
        hr
        h3.text-muted Invalid Category.
        h4: a(href='/') &larr; back to other front page.

      else
        if data.posts.length
          .portfolio
            - var n = 0;
            each post in data.posts
              if serviceCategory[0]
                +post(post, serviceCategory[0])
            if !serviceCategory[0]
