extends ../layouts/default

mixin post(post, category)
  each cats in post.categories
    if !category || category === cats.key
        post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
          - var imger = post._.image.fit(400,400);
          - var newImgUrl = imger.replace("http://","//");
          - n++
            .col-lg-12
              if n % 2 === 1
                .col-lg-5.animatedParent
                  if post.image.exists
                    img(src=newImgUrl).img.animated.fadeIn
              .col-lg-7.animatedParent
                .animated.fadeIn
                  .animatedParent
                    if norwegian
                      h2.animated.fadeIn= post.titleNorwegian
                      p!= post.contentNorwegian.brief
                      a(href='/no/solution/post/' + post.slug) Les mer.
                    else
                      h2.animated.fadeIn= post.title
                      p!= post.content.brief
                      a(href='/solution/post/' + post.slug) Read more.
              if n % 2 === 0
                .col-lg-5.animatedParent
                  if post.image.exists
                    img(src=newImgUrl).img.animated.fadeIn

block intro
  .container.portfolio
    if norwegian
      h1 Løsninger
    else
      h1 Solutions

block content
  .container: .row
    if data.posts.length
      .portfolio
        - var n = 0;
        each post in data.posts
          +post(post, 'solution')